.alertDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.alertDialog *.button{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: -3;
    -fx-text-fill:  #1e3799;
    -fx-border-radius: 30;
    -fx-border-insets: -3;
    -fx-border-width: 2;
    -fx-border-color: #1e3799;
}